.footerStyle[b-lnt7rqpf2h]{
    background-color: hsl(192, 77%, 9%);
    color: var(--cf-light-color)
}

.footerStyle a[b-lnt7rqpf2h] {
    color: #87bbd7;;
}
.footerStyle a:hover[b-lnt7rqpf2h]{
    color: lightyellow;
}
.footerStyle .bi[b-lnt7rqpf2h]{
    font-size: 1.5rem;
    padding-inline-start: 0.5rem;
}
.col[b-lnt7rqpf2h]{
    color:lightyellow;
}
#footerImage[b-lnt7rqpf2h]{
    width: 100%;
}